<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.website.appname" <!-- Fill in your namespace -->
        versionCode="1" 
        version   = "1.0.0">

    <name>My App Name</name>

    <description>
        My app description.
    </description>

    <author href="http://www.website.com" email="email@email.com">
        Your Name
    </author>
	
	<preference name="phonegap-version" value="2.9.0" />
	<preference name="splash-screen-duration" value="3000" /> <!-- optional -->
	
	<!-- Icons & splash screens optional -->
	<icon src="icon.png" />
	<icon src="icons/ios/57x57-App-Icon.png" gap:platform="ios" width="57" height="57" />
	<icon src="icons/ios/72x72-App-Icon.png" gap:platform="ios" width="72" height="72" />
	<icon src="icons/ios/114x114-App-Icon.png" gap:platform="ios" width="114" height="114" />
	<!-- retina iPad support -->
	<icon src="icons/ios/144x144App-Icon.png" gap:platform="ios" width="144" height="144" />
	
	<icon src="icons/android/36x36-Android-Icon.png" gap:platform="android" gap:density="ldpi" />
	<icon src="icons/android/48x48-Android-Icon.png" gap:platform="android" gap:density="mdpi" />
	<icon src="icons/android/72x72-Android-Icon.png" gap:platform="android" gap:density="hdpi" />
	<icon src="icons/android/96x96-Android-Icon.png" gap:platform="android" gap:density="xhdpi" />
	
	
	<gap:splash src="splash/ios/320X480-LAUNCH.png" gap:platform="ios" width="320" height="480" />
	<gap:splash src="splash/ios/640X960-LAUNCH.png" gap:platform="ios" width="640" height="960" />
	<gap:splash src="splash/ios/640x1136-Launch.png" gap:platform="ios" width="640" height="1136" />
	<gap:splash src="splash/ios/1024X748-LAUNCH-IPAD-LANDSCAPE.png" gap:platform="ios" width="1024" height="748" />
	<gap:splash src="splash/ios/768-1004-LAUNCH-PORTRAIT.png" gap:platform="ios" width="768" height="1004" />
	<!-- retina iPad support -->
	<gap:splash src="splash/ios/2048X1496-LAUNCH-IPAD-LANDSCAPE.png" gap:platform="ios" width="2048" height="1496" />
	<gap:splash src="splash/ios/1536X2008-LAUNCH-IPAD-PORTRAIT.png" gap:platform="ios" width="1536" height="2008" />
	
	<!-- Enable internet access permission -->
	<feature name="http://api.phonegap.com/1.0/network"/>
	
	<!-- Required to access external resources, like APIs and webpages. Wildcard (*) allows access to everything. -->
	<access origin="*"/>
</widget>