<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.website.appname" 
        versionCode = "1" 
        version     = "1.0.0">
    <!-- 'Id' is your app's unique namespace -->
    <!-- 'versionCode' is optional and Android only -->

    <name>My App Name</name>

    <description>
        My app description.
    </description>

    <author href="http://www.website.com" email="email@email.com">
        Your Name
    </author>

    <!-- The platforms to build for. Only build what you want to target! -->
    <gap:platform name="ios" />
	<gap:platform name="android" />
	<gap:platform name="winphone" />
	
	<!-- Build preferences for each platform. Too many to list here, see online PhoneGap docs for more. -->
	<preference name='phonegap-version' value='cli-5.1.1' /> <!-- Version of PhoneGap to use -->
	<!-- How long to display a splash screen on app open (in milliseconds) -->
	<preference name="splash-screen-duration" value="3000" /> <!-- optional -->
	
	<!-- Icons for iOS 7.0+, Android, Windows Phone -->
	<icon src="icon.png" />  <!-- Icon in the root directory is always required, all others optional -->
	<!-- iPhone 6 / 6+ -->
	<icon src="icons/ios/180x180.png" gap:platform="ios" width="180" height="180" />
	<!-- iPhone / iPod Touch  -->
	<icon src="icons/ios/60x60.png" gap:platform="ios" width="60" height="60" />
	<icon src="icons/ios/120x120.png" gap:platform="ios" width="120" height="120" />
	
	<!-- iPad -->
	<icon src="icons/ios/76x76.png" gap:platform="ios" width="76" height="76" />
	<icon src="icons/ios/152x152.png" gap:platform="ios" width="152" height="152" />

	<!-- Settings Icon -->
	<icon src="icons/ios/29x29.png" gap:platform="ios" width="29" height="29" />
	<icon src="icons/ios/58x58.png" gap:platform="ios" width="58" height="58" />

	<!-- Spotlight Icon -->
	<icon src="icons/ios/40x40.png" gap:platform="ios" width="40" height="40" />
	<icon src="icons/ios/80x80.png" gap:platform="ios" width="80" height="80" />
	
	<!-- Android -->
	<icon src="icons/android/36x36.png" gap:platform="android" gap:density="ldpi" />
	<icon src="icons/android/48x48.png" gap:platform="android" gap:density="mdpi" />
	<icon src="icons/android/72x72.png" gap:platform="android" gap:density="hdpi" />
	<icon src="icons/android/96x96.png" gap:platform="android" gap:density="xhdpi" />
	<icon src="icons/android/144x144.png" gap:platform="android" gap:qualifier="xxhdpi" />

	<!-- Windows Phone -->
	<icon src="icons/wp/icon.png" gap:platform="winphone" />
	<icon src="icons/wp/tileicon.png" gap:platform="winphone" gap:role="background" />
	
	<!-- Splash Screens -->
	<gap:splash src="splash.png" />
	<gap:splash src="splash/ios/320x480.png" gap:platform="ios" width="320" height="480" /> <!-- Regular iPhone4 -->
	<gap:splash src="splash/ios/640x960.png" gap:platform="ios" width="640" height="960" /> <!-- Retina iPhone4 -->
	<gap:splash src="splash/ios/640x1136.png" gap:platform="ios" width="640" height="1136" /> <!-- iPhone5 -->
	<!-- iPhone 6 -->
	<gap:splash src="splash/ios/750x1334.png" gap:platform="ios" width="750" height="1334" />
	<gap:splash src="splash/ios/1242x2208.png" gap:platform="ios" width="1242" height="2208" />
	<gap:splash src="splash/ios/2208x1242.png" gap:platform="ios" width="2208" height="1242" />
	<gap:splash src="splash/ios/768x1024.png" gap:platform="ios" width="768" height="1024" /> <!-- iPad Portrait -->
	<gap:splash src="splash/ios/1024X768.png" gap:platform="ios" width="1024" height="768" /> <!-- iPad Landscape -->
	<!-- retina iPad -->
	<gap:splash src="splash/ios/1536x2008.png" gap:platform="ios" width="1536" height="2008" />
	<gap:splash src="splash/ios/2048x1536.png" gap:platform="ios" width="2048" height="1536" />

	<!-- Android -->
	<gap:splash src="splash/android/426x320.png" gap:platform="android" gap:qualifier="ldpi" />
	<gap:splash src="splash/android/470x320.png" gap:platform="android" gap:qualifier="mdpi" />
	<gap:splash src="splash/android/640x480.png" gap:platform="android" gap:qualifier="hdpi" />
	<gap:splash src="splash/android/960x720.png" gap:platform="android" gap:qualifier="xhdpi" />
	<gap:splash src="splash/android/960x1600.png" gap:platform="android" gap:qualifier="port-xxhdpi" />
	<gap:splash src="splash/android/1600x960.png" gap:platform="android" gap:qualifier="land-xxhdpi" />

	<!-- Windows Phone -->
	<gap:splash src="splash/wp/splash.jpg" gap:platform="winphone" />
	
	<!-- Permissions required. See online PhoneGap docs for more. -->
	<feature name="http://api.phonegap.com/1.0/network"/> <!-- Enable internet access permission -->

	<!-- Plugins that enable device-specific native funtionality. See online docs for more -->
	<gap:plugin name="org.apache.cordova.network-information" version="0.2.7" />  <!-- For checking Internet connectivity -->
	
	<!-- Required to access external resources, like APIs and webpages. Wildcard (*) allows access to everything. -->
	<access origin="*"/>
</widget>